@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* variáveis */
:root {
    --corDaBorda:white;
    --corDoFundo:#ae1e428f;
}

/* configurações globais */
h1 {
    margin-bottom: 3%;
}
main{
    padding: 7%;
}

/* tabela */
#tabelaAlunos th, #tabelaAlunos td {
    padding: 12px;
    text-align: center;
    border: 1px solid var(--corDaBorda);
    overflow-wrap: break-word; 
}

#tabelaAlunos td.col-actions { width: 18vh; }

.action-btn{
    padding:6px 10px;
    margin:0 4px;
    border-radius:4px;
    border:1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.07);
    color: white;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}
button {
    margin-bottom: 10px;
}
.action-btn:hover { opacity: 0.9; }

.save-btn{ background: #2ecc71; border-color:#27ae60; margin-bottom: 10px;
width: 80%;}
.cancel-btn{ background: #95a5a6; border-color:#7f8c8d; margin-bottom: 10px;
width: 80%;}
.delete-btn{ background: #e74c3c; border-color:#c0392b; margin-bottom: 10px;
width: 80%;}
.edit-btn{ background: #3498db; border-color:#2980b9; margin-bottom: 10px;
width: 80%;}
@media screen and (max-width: 600px) {
    #tabelaAlunos th, #tabelaAlunos td {
        font-size: 0.6rem;
        padding: 8px;
    }
    .edit-btn, .delete-btn, .save-btn, .cancel-btn {
        padding: 4px 6px;
        font-size: 0.5rem;
        width: 90%;
    }
    h1{
        font-size: 1.2rem;
        margin: auto;
        margin-bottom: 10%;
    }
}

#tabelaAlunos {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    table-layout: fixed;
    overflow-x: auto;
}

#tabelaAlunos th {
    background-color: var(--corDoFundo);
}
input {
    width: 90%;
    padding: 6px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
